<div class="filter-card" *ngIf="open">
  <div class="content">
    <div class="close-filter-card" (click)="closeFilterCard()">
      <img [src]="'../assets/close-icon.png'" alt="" />
    </div>
    <div class="image-filter-card">
      <img [src]="'../assets/filter-icon-gray.png'" alt="" />
    </div>
    <div class="criteria-content">
      <div class="title">
        <h4>Busqueda</h4>
      </div>
      <div class="criteria-form">
        <form>
          <div class="criteria-name">
            <label for="movieName">Título</label>
            <input type="text" id="movieName">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>