<div class="main">
  <div class="sw-logo">
    <img src="../assets/Star_Wars_Yellow_Logo.svg" alt="Starwars logo" />
  </div>
  <div class="movies-list">
    <app-scroll-wrapper>
      <app-movie-card
        *ngFor="let item of movieList | filter: yearMovieFilter:nameMovieFilter"
        (click)="openDetail(item)"
        [id]="item.episode_id"
        [title]="item.title"
        [episode]="item.episode_id"
        [description]="item.opening_crawl"
        [date]="item.release_date"
      ></app-movie-card>
    </app-scroll-wrapper>

    <app-details-movie
      [open]="open"
      (detailClose)="openDetail({})"
      [title]="movieDetail.title"
      [episode_movie]="movieDetail.episode_id"
      [release_date]="movieDetail.release_date"
      [description]="movieDetail.opening_crawl"
      [director]="movieDetail.director"
      [producer]="movieDetail.producer"
      [planets] = "movieDetail.planets"
      [characters] = "movieDetail.characters"
      [species] = "movieDetail.species"
    >
    </app-details-movie>
  </div>
  <div class="movie-filter">
    <app-movie-filter></app-movie-filter>
  </div>
</div>
