<div class="detail-card" *ngIf="open">
  <div class="content">
    <div class="bar-actions">
      <p>Star Wars Pelicula # {{ episode_movie }}</p>
      <div (click)="onDetailClose()" class="close-icon">x</div>
    </div>
    <div class="picture-zone">
      <img
        [src]="'../assets/card/card-movie-' + episode_movie + '.jpg'"
        alt=""
      />
    </div>
    <div class="menu-zone">
      <div
        [class]="active_section == 'descripcion' ? 'option active' : 'option'"
        (click)="activeSection('descripcion')"
      >
        Descripción
      </div>
      <div
        [class]="active_section == 'personajes' ? 'option active' : 'option'"
        (click)="activeSection('personajes')"
      >
        Personajes
      </div>
      <div
        [class]="active_section == 'planetas' ? 'option active' : 'option'"
        (click)="activeSection('planetas')"
      >
        Planetas
      </div>
      <div
        [class]="active_section == 'vehiculos' ? 'option active' : 'option'"
        (click)="activeSection('vehiculos')"
      >
        Vehiculos
      </div>
      <div
        [class]="active_section == 'especies' ? 'option active' : 'option'"
        (click)="activeSection('especies')"
      >
        Especies
      </div>
    </div>
    <div class="index-zone">
      <div class="details-zone" *ngIf="active_section == 'descripcion'">
        <p><b>Release Date:</b> {{ release_date }}</p>
        <p><b>Title:</b> {{ title }}</p>
        <p><b>Descripction:</b> {{ description }}</p>
        <p><b>Director:</b> {{ director }}</p>
        <p><b>Productor:</b> {{ producer }}</p>
      </div>
      <div class="personajes-zone" *ngIf="active_section == 'personajes'">
        <P>personajes</P>
      </div>
      <div class="personajes-zone" *ngIf="active_section == 'planetas'">
        <P>Planetas</P>
      </div>
      <div class="personajes-zone" *ngIf="active_section == 'vehiculos'">
        <P>Vehiculos</P>
      </div>
      <div class="personajes-zone" *ngIf="active_section == 'especies'">
        <P>Especies</P>
      </div>
    </div>
  </div>
</div>
